[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
line-bot-sdk = "*"
gunicorn = "*"
numpy = "*"
pandas = "*"
plotly = "*"
psutil = "*"

[dev-packages]

[requires]
python_version = "3.7"
